version: "3.8"
services:
  daemon_containos:
    build:
      context: .
    container_name: daemon_containos
    image: snrmukesh/daemon_containos:1.0.0
    # ports:
    # - 5000:5000
    volumes:
    - ./src/daemon_containos:/work/daemon_containos
    # working_dir: /work/daemon_containos
    # entrypoint: /bin/bash
    # stdin_open: true
    # tty: true