apiVersion: apps/v1
kind: Deployment
metadata:
  name: webcontainos-deploy
  labels:
    app: webcontainos-app
  annotations:
spec:
  selector:
    matchLabels:
      app: webcontainos-app
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: webcontainos-app
    spec:
      containers:
      - name: webcontainos-app
        image: snrmukesh/containos:1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "500m"